<ng-template appPlaceHolder></ng-template>
<ng-container *ngIf="message === '' && status ==='' && BasicUrl !== 'rest'; else Response">
  <div class="container">
    <div class="mb-3">
        <form #RestPassword="ngForm" (submit)="Restpassword(RestPassword)">
      <label for="email" class="form-label">Entre Email</label>
      <input type="email"
        class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="" required email ngModel>
      <small id="email" class="form-text text-muted">example: test@yahoo.com</small>
      <br>
      <button type="submit" class="btn submit-btn" [disabled]="RestPassword.invalid">Send Verfiy</button>
    </form>
    </div>
</div>
</ng-container>
<ng-template #Response>
  <ng-container *ngIf="BasicUrl !== 'rest'; else AddNewPassword">
    <h1 class="text-success" style="text-align: center;">{{status}}</h1>
    <hr>
    <h3 class="text-secondary" style="text-align: center;">{{message}}</h3>
  </ng-container>
<ng-tmplate *ngIf="BasicUrl === 'rest'" #AddNewPassword>

  <form class="container" (ngSubmit) = "ResetPassword()" [formGroup]="FormNewPassword">
    <div class="form-group">
      <label for="UserName">UserName</label>
      <input type="text" class="form-control" id="UserName" 
      aria-describedby="UserNameHelp" placeholder="PLease entre Your UserName" formControlName="Username">
      <small id="UserNameHelp" class="form-text text-muted">We'll never share your UserName with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="newpassword">New Password</label>
      <input type="password" class="form-control" id="newpassword" placeholder="New Password" formControlName="Password">
    </div>
    <div class="form-group">
      <label for="confirmpassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password" formControlName="ConfirmPassword">
    </div>
  <span class="text-danger" *ngIf="FormNewPassword.hasError('notSame')">
      Passwords do not match
    </span>   <!--signupForm.get('userData.username').errors['nameIsForbidden']-->
    <br>
    <button type="submit" class="btn btn-primary" [disabled]="FormNewPassword.invalid">Submit</button>
  </form>
</ng-tmplate>
</ng-template>

