.submit-btn {
    display: block;
    border: 1px solid #ffffff;
    width: 30%;
    background-color: #0D5786;
    color: #ffffff;
    font-size: 1em;
    padding: 5px;
    margin: 1em 0;
    &:hover {
        border: 1px solid #0D5786;
        color: #0D5786;
        font-weight: bold;
        background-color: #ffffff;
        cursor: pointer;
    }
}

.log-out {
    display: block;
    border: 1px solid #CEE39D;
    //width: 75px;
    background-color: #0D5786;
    color: #ffffff;
    font-size: 1em;
    padding: 5px;
    margin-left: 1em;
    &:hover {
        border: 1px solid #0D5786;
        color: #0D5786;
        font-weight: bold;
        background-color: #ffffff;
        cursor: pointer;
    }
}