<div class="contain">
  <div class="logo">
    <a routerLink="/" style="margin-left: 10vw;"><img src="http://localhost:3000/MainImage/Logo.png" height="55vh"></a>
  </div>
  <div class="login-block" style="margin-right: 10vw;">
    <div class="log-in" *ngIf="userEmail.length > 0">
      <a class="dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        {{ userEmail }}</a>
      <ul class="dropdown-menu mt-3" aria-labelledby="navbarDarkDropdownMenuLink">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" style="position: relative; cursor: pointer;" (click)="MyCourse()">My Clase</a>
        </li>
        <li><a class="dropdown-item" href="#">Setting</a></li>
        <li><a class="dropdown-item" href="#">Email</a></li>
      </ul>

    </div>
    <button *ngIf="LogInOut" class="log-out" (click)=logOut()>
      <span>Log Out</span>
    </button>
    <button class="log-out" href="#" *ngIf="!LogInOut" (click)="SignUp()" >SingUp</button>
  </div>
</div>