<div class="container">
<h1 class="font-italic" style="text-align: center;"> Welcome Profosser </h1>
<h1 class="font-italic" style="text-align: center;"> Please Entre Date New Course</h1>
<form class="form-row pt-3" style="max-width: 80vw;" #CreatForm = "ngForm" (ngSubmit)="createCourse(CreatForm)">  
  <div class="form-group col-md-8">
      <label for="Title" style="font-size: 20px; font-weight:bold; padding-left: 2vw;">Title Course</label>      
      <input type="text" class="form-control" name="Title" id="Title" ngModel required>
    </div>
    <div class="form-group col-md-4">
        <label for="date" style="font-size: 20px; font-weight:bold;">Date Course</label>
        <input type="text" onfocusin="(this.type='date')" onfocusout="(this.type='text')" class="form-control" 
        name="date" id="date" ngModel required>
    </div>
    <div class="row">
    <div class="form-group col-md-6 col-lg-5">
      <label for="authors" style="font-size: 20px; font-weight:bold; margin-left: 2vw;">Autorize</label>
        <ol style="max-height: 10vh; overflow-y: auto; overflow-x: hidden; padding-left: 3vw;">
          <div name="check" class="row" >
            <!--formArrayName="Author" this code and another in all input to try or learn deep reactive form-->
            <!--ngFor let-Autho [ngForOf]="Autor" let-i="index" *ngFor="let Autho of CreatForm.controls.Author['controls']; let i = index" this is way number 1-->
            <!--*ngIf="CreatForm.controls.Author['controls'][0].length > 0"-->
            <!-- <h1>{{CreatForm.controls.Author['controls'][0].value[0].id}}</h1> -->
          <ng-template ngFor let-Autho [ngForOf]="Autor" let-i="index">  <!--let-o="odd" let-x="even"-->              
            <li id="content1" class="col-12 col-sm-6 col-md-6 col-lg-6 pl-0"
               style=" line-height: 20px">
               <input type="checkbox" [name]='Autho.id' ngModel (click)="OnSelectAuth(Autho.id, CreatForm)"> {{Autho.firstName}} {{Autho.lastName}}</li>
          </ng-template> 
        </div>

        </ol>  
    </div>
    <div class="form-group col-md-4 ">
      <label for="duration" style="font-size: 20px; font-weight:bold;">Duration</label>
      <input type="number" min="1" class="form-control" name="duration" id="duration" ngModel required>
    </div>

  <div class="form-group col-md-4 ">
    <label for="ImageUrl" style="font-size: 20px; font-weight:bold;">ImageUrl</label>
    <input type="file" accept="image/png, image/jpeg" class="form-control" name="ImageUrl" (change)="onFileSelect($event)" id="ImageUrl" ngModel required>
  </div>
</div>
    <!-- -->
    <div class="form-group col-md-12 ">
      <label id="tagetop" for="discription" style="font-size: 20px; font-weight:bold; text-align:center;">Discription</label>
      <textarea class="form-control" name="discription" id="discription" ngModel required> </textarea>
      <!--formControlName="discription" this code and another in all input to try or learn deep reactive form-->
    </div> 

    <div class="form-group col-md-12">
    <h2 style="text-transform: none; margin-left: 1vw; text-align:center;"><input type="checkbox" name="agree" style="size: 20px" ngModel required>All Data Entre Is true</h2> 
    <!--formControlName="agree" this code and another in all input to try or learn deep reactive form-->
    <button type="submit" class="btn btn-primary" [disabled]="!vaild">Submit</button>  
    </div>
  </form>
</div>